body{
    background-color: #fcfcfc;
  }  

.content {
    width:800px;
    margin:auto;
    padding: 30px;
}

h1 {
    text-align: left;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    font-family: 'Space Grotesk', sans-serif;
    color: #26292b;
}

h2 {
    text-align: left;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    font-family: 'Space Grotesk', sans-serif;
    color: #26292b;
}

p {
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Roboto', sans-serif;
    color: #4c5156;
}