body{
    background-color: #ffffff;
  }

/* sidebar */
.sidebar {
    margin: 0;
    padding: 0;
    width: 225px;
    background-color: #f4f4f4;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #262626;
    padding: 15px;
    text-decoration: none;
    text-decoration-color: #161616;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sidebar a.active {
background-color: #161616;
color: white;
padding-left: 20px;
}

.sidebar a:hover:not(.active) {
background-color: #e0e0e0;
color: #161616;
text-decoration: none;
font-weight:600;
}

/* body */
.content {
    width: 800px;
    margin:auto;
    padding: 30px;
    padding-left: 120px;
}

.chart {
    padding: 30px;
    padding-bottom: 100px;
}

h1 {
    text-align: left;
    font-weight: 600;
    font-size: 71px;
    line-height: 83px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #161616;
}

h2 {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #161616;
}

p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #262626;
}

/* special text */
.uninjured {
    color: #003f5c
}

.injured {
    color: #bc5090
}

.fatal {
    color: #ffa600
}

/* links */
a {
  color: #161616;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #161616;
  background-color: lightblue;
  text-decoration: none;
}
