body{
    background-color: #ffffff;
  }

/* sidebar */
.sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #f4f4f4;
    position:fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: #262626;
    padding: 15px;
    padding-left: 20px;
    text-decoration: none;
    text-decoration-color: #161616;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sidebar a.active {
background-color: #161616;
color: white;
padding-left: 20px;
}

.sidebar a:hover:not(.active) {
background-color: #e0e0e0;
color: #161616;
text-decoration: none;
font-weight: 600;
}

/* body */
.content {
    width: 725px;
    margin:auto;
    margin-left: 300px;
    padding: 30px;
    padding-left: 90px;
}

.chart {
    padding: 30px;
    padding-bottom: 100px;
}

h1 {
    text-align: left;
    font-weight: 600;
    font-size: 68px;
    line-height: 70px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #161616;
}

h2 {
    text-align: left;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #161616;
}

p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #262626;
}

/* special text */
.uninjured {
    color: #003f5c;
    font-weight: 600;
}

.injured {
    color: #bc5090;
    font-weight: 600;
}

.fatal {
    color: #ffa600;
    font-weight: 600;
}

.boarding {
    color:#444e86;
    font-weight:600;
}

.snorkelling {
    color:#58508d;
    font-weight:600;
}

/* links */
a {
  color: #161616;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #161616;
  background-color: lightblue;
  text-decoration: none;
}

/* centering */
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* logo */
.taronga {
    display: block;
    padding-left: 35px;
}

.flinders {
    display:block;
    padding: 30px;
    padding-top: 60px;
    padding-left: 45px;
}

.nsw {
    display: block;
    padding: 32px;
    padding-top: 55px;
}